:root {
   --background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
   --gray: #34495e;
   --darkgray: #2c3e50;
}

#root {
   font-family: "Roboto", sans-serif;
   max-width: 100%;
   width: 100vw;
}
.leaflet-container {
   height: 60vh;
   width: 40vw;
}
.leaflet-interactive {
   stroke-opacity: 0.7;
   stroke-width: 1;
}
.titulo {
   text-align: center;
   margin-top: 5px;
   margin-bottom: 5px;
}
.input-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.leaflet-container {
   margin: 0 auto;
}

select {
   /* Reset Select */
   appearance: none;
   outline: 0;
   border: 0;
   box-shadow: none;
   /* Personalize */
   flex: 1;
   padding: 0 1em;
   color: #fff;
   background-color: var(--darkgray);
   background-image: none;
   cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
   display: none;
}
/* Custom Select wrapper */
.select {
   margin: 0 auto;
   text-align: center;
   margin-bottom: 13px !important;
   position: relative;
   display: flex;
   width: 20em;
   height: 3em;
   border-radius: 0.25em;
   overflow: hidden;
   margin-bottom: 2em;
}
/* Arrow */
.select::after {
   content: "\25BC";
   position: absolute;
   top: 0;
   right: 0;
   padding: 1em;
   background-color: #34495e;
   transition: 0.25s all ease;
   pointer-events: none;
}
/* Transition */
.select:hover::after {
   color: #f39c12;
}
.titulo-form {
   margin-top: 5px;
   text-align: center;

   margin-bottom: 5px;
}
.imagen {
   width: 60px;
   height: 60px;
}
.containerImagen {
   width: 100%;
   display: flex;
   justify-content: center;
}
